<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">

		<!-- wp:pattern {"slug":"flexa/single-post-header"} /-->

		<!-- wp:pattern {"slug":"flexa/single-post-content"} /-->

		<!-- wp:pattern {"slug":"flexa/single-author-bio"} /-->

		<!-- wp:pattern {"slug":"flexa/single-comments"} /-->

		<!-- wp:pattern {"slug":"flexa/single-post-navigation"} /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->